<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.baymax.baymax.dao.OrderStateDAO">
  <select id="getOrderState" resultType="OrderState">
    SELECT
      id,
      name
    FROM `order_state`
    WHERE id = #{id}
  </select>

  <select id="getOrderStateByName" resultType="OrderState">
    SELECT
      id,
      name
    FROM `order_state`
    WHERE name = #{name}
  </select>

  <insert id="insertOrderState" parameterType="OrderState" >
    INSERT INTO order_state
    (
       name
    )
    VALUES
    (
      #{name}
    )
  </insert>

  <delete id="deleteOrderState" parameterType="OrderState" >
    DELETE FROM order_state WHERE id = #{id}
  </delete>
</mapper>