<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--  Primitive or simply data types such as Integer and String have no relevant properties,
 and thus will replace the full value of the parameter entirely, so the name of the parameter is not important-->
<mapper namespace = "com.baymax.baymax.dao.OrderItemDAO">
  <resultMap id="DetailedOrderItemResultMap" type="OrderItem">
        <id property="id" column="order_item_id"/>
        <result property="quantity" column="quantity"/>
        <association property="product" javaType="Product">
            <id column="product_id" property="id"/>
            <result column="name" property="name"/>
            <result column="description" property="description"/>
            <result column="price" property="price"/>
        </association>
        <association property="order" javaType="Order">
          <id column="order_id" property="id"/>
          <result column="create_time" property="createTime"/>
          <result column="amount" property="amount"/>
          <result column="payment_time" property="paymentTime"/>
          <result column="payment_result" property="paymentResult"/>
          <association property="customer" javaType="Customer">
              <id column="customer_id" property="id"/>
              <result column="email" property="email"/>
              <result column="password" property="password"/>
              <result column="nickname" property="nickname"/>
              <result column="phone" property="phone"/>
              <result column="address" property="address"/>
              <result column="gender" property="gender"/>
              <result column="wechat_openid" property="wechatOpenID"/>
          </association>
          <association property="orderState" javaType="OrderState">
              <id column="order_state_id" property="id"/>
              <result column="order_state_name" property="name"/> 
          </association>
          <association property="paymentType" javaType="PaymentType">
              <id column="payment_type_id" property="id"/>
              <result column="payment_type_name" property="name"/> 
          </association>
        </association>
  </resultMap>
    
  <select id="getOrderItem" resultMap="DetailedOrderItemResultMap">
    SELECT
       order_item.id AS order_item_id,
       order_item.quantity,
       `order`.id AS order_id,
       `order`.create_time,
       `order`.amount,
       `order`.payment_time,
       `order`.payment_result,
       order_state.id AS order_state_id,
       order_state.name AS order_state_name,
       payment_type.id AS payment_type_id,
       payment_type.name AS payment_type_name,
       product.id AS product_id,
       product.name,
       product.description,
       product.price,
       `order`.customer_id,
       customer.email,
       customer.password,
       customer.nickname,
       customer.phone,
       customer.address,
       customer.gender,
       customer.wechat_openid
    FROM order_item
    LEFT OUTER JOIN `order` ON `order`.id = order_item.order_id
    LEFT OUTER JOIN customer ON `order`.customer_id = customer.id
    LEFT OUTER JOIN product ON order_item.product_id = product.id
    LEFT OUTER JOIN order_state ON `order`.order_state_id = order_state.id
    LEFT OUTER JOIN payment_type ON `order`.payment_type_id = payment_type.id
    WHERE order_item.id = #{id}
  </select>

  <insert id="insertOrderItem" parameterType="OrderItem" >
        INSERT INTO order_item
        (
           order_id, 
           product_id, 
           quantity
        )
        VALUES
        (
          #{order.id},
          #{product.id},
          #{quantity}
        )
  </insert>

  <delete id="deleteOrderItem" parameterType="OrderItem" >
    DELETE FROM order_item WHERE id = #{id}
  </delete>

  <delete id="deleteOrderItemsByOrder" parameterType="OrderItem" >
    DELETE FROM order_item WHERE order_id = #{order.id}
  </delete>

</mapper>